html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
html span.italic {
  font-style: italic;
}
html span.bold {
  font-weight: bold;
}
.plaginButton {
  background: transparent !important;
  text-shadow: 0 -1px #157ea1 !important;
}
#home img.logo {
  display: none;
}
#home a,
#home a:active,
#home a:visited {
  color: inherit;
  text-decoration: none;
}
#home .header {
  z-index: 999;
  position: fixed;
  width: 100%;
  background-color: rgba(21, 126, 161, 0.9);
  color: white;
}
#home .header .header-content {
  width: 960px;
  margin: auto;
}
#home .header .header-content .active-menu {
  left: -100px;
  display: block;
  position: absolute;
  width: 33px;
  height: 1px;
  background-color: white;
  top: 50px;
}
#home .header .title {
  font-size: 300%;
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
#home .header .border {
  margin-top: 1px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
#home .header .top-border {
  margin-bottom: 1px;
  margin-top: 5px;
}
#home .header .bottom-border {
  clear: both;
}
#home .header .menus {
  margin-bottom: -4px;
  display: inline-block;
}
#home .header .menu-item {
  margin-bottom: -4px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  height: 66px;
  overflow: hidden;
  position: relative;
}
#home .header .menu-item .menu-block {
  position: relative;
  width: 100%;
}
#home .header .menu-item .menu-block div {
  margin-top: 26px;
  margin-bottom: 26px;
}
#home .header .menu-item .title-block {
  top: 8px;
}
#home .body {
  width: 960px;
  margin: auto;
  color: #157ea1;
  padding-top: 83px;
}
#home .body pre {
  overflow: auto;
}
#home .body code {
  overflow: visible;
}
#home .body h1 {
  font-family: 'Roboto Slab', serif;
  display: table-caption;
  text-align: center;
  font-size: 250%;
  padding: 1em 0;
}
#home .body article {
  display: table;
  margin: auto;
  font-weight: 300;
}
#home .body article .disagree {
  font-style: italic;
}
#home .body article .disagree a {
  font-weight: 400;
}
#home .body article .disagree a:hover {
  text-decoration: underline;
}
#home .body article ul {
  list-style-type: disc;
  margin-left: 20px;
}
#home .body article.chart-article .ex-cell.flow-visible {
  width: 450px;
}
#home .body article.chart-article h2 {
  font-weight: 400;
  padding: 1em 0;
}
#home .body article.chart-article h3 {
  font-weight: 400;
  padding-top: 1em;
}
#home .body article.chart-article .diagram {
  position: relative;
  text-align: center;
  margin: 20px 0;
}
#home .body article.chart-article .graph-desc {
  font-size: 80%;
}
#home .body article.chart-article .graph-desc ul {
  margin-bottom: 5px;
}
#home .body article.chart-article .chart-text {
  position: relative;
  display: none;
}
#home .body article.chart-article .chart-text.active {
  display: block;
}
#home .body article.chart-article .chart-item-box {
  position: relative;
  width: 450px;
}
#home .body pre[class*='language-'] > code[data-language]::before {
  border-radius: 0 5px 0 5px;
}
#home .body pre[class*="language-"]:before,
#home .body pre[class*="language-"]:after {
  box-shadow: none;
}
#home .body pre {
  font-size: 80%;
  border-radius: 5px;
}
#home .body .ex-row {
  display: table-row;
}
#home .body .ex-row .ex-cell:first-child section {
  padding-right: 2em;
}
#home .body .ex-row .ex-cell + .ex-cell section {
  padding-left: 2em;
}
#home .body .ex-row .flow-visible {
  overflow: visible;
  vertical-align: top;
  position: relative;
}
#home .body .spacing-row {
  display: table-row;
  height: 100px;
}
#home .body .ex-cell {
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
#home .body .bench-test-box {
  margin-bottom: 30px;
  word-spacing: .3em;
}
#home .body section {
  position: relative;
  font-size: 110%;
  line-height: 1.4em;
}
#home .body .bench-test-box {
  position: relative;
}
#home .body .bench-test-box .button-box {
  display: inline-block;
  position: relative;
  left: 50px;
  opacity: 0;
}
#home .body .bench-test-box .button-box .bench-test-button {
  display: table-cell;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 100%;
  cursor: pointer;
}
#home .body .bench-test-button:hover {
  color: white;
}
#home .body .bench-test-button.active {
  color: white;
}
#home footer {
  display: block;
  height: 200px;
  width: 100%;
  background-color: rgba(21, 126, 161, 0.9);
  color: white;
}
#home footer .table {
  display: table;
  width: 960px;
  margin: auto;
  height: inherit;
}
#home footer .table .profile-row {
  display: table-row;
}
#home footer .table .profile-row .profile-cell {
  width: 200px;
}
#home footer .table .profile-row .profile-cell img.author-image {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 90px;
  border: 1px solid rgba(255, 255, 255, 0.51);
  box-shadow: 0 0 2px white;
}
#home footer .table .profile-row .description-cell {
  width: 400px;
  line-height: 1.3em;
}
#home footer .table .profile-row .description-cell div:nth-child(1) {
  font-weight: 400;
}
#home footer .table .profile-row .description-cell div:nth-child(2) {
  margin-top: 20px;
  font-style: italic;
}
#home footer .table .profile-row .description-cell div:nth-child(3) {
  margin-top: 10px;
  font-style: italic;
  text-align: right;
}
#home footer .table .profile-row .cell {
  display: table-cell;
  vertical-align: middle;
}
#home footer .table .profile-row .cell:nth-child(3) {
  padding-left: 60px;
}
#home footer .table .profile-row .cell .like-title {
  font-weight: 400;
}
#home footer .table .profile-row .cell .fb-block {
  margin-top: 10px;
}
#home footer .table .profile-row .cell .gplus-block {
  margin-top: 10px;
}
#home footer .table .profile-row .cell .gplus-block #___plus_0 {
  position: relative;
  top: -4px;
}
#home footer .table .profile-row .cell .contacts {
  font-weight: 400;
  margin-top: 10px;
}
#home footer .table .profile-row .cell .mail {
  margin-top: 10px;
  font-size: 90%;
  font-style: italic;
}
#home footer .table .profile-row .cell .mail a:hover {
  text-decoration: underline;
}
#home footer .table .profile-row .copyright {
  font-size: 80%;
  vertical-align: bottom;
  text-align: center;
  padding-bottom: 5px;
}
#home .body,
#home.intro .body,
#home.intro-reverse .body {
  color: #157ea1;
}
#home .body .bold,
#home.intro .body .bold,
#home.intro-reverse .body .bold {
  font-weight: 400;
}
#home .body .text-link,
#home.intro .body .text-link,
#home.intro-reverse .body .text-link {
  text-decoration: underline;
}
#home .body .bench-test-button,
#home.intro .body .bench-test-button,
#home.intro-reverse .body .bench-test-button {
  border: 1px solid #157ea1;
}
#home .body .bench-test-button.active,
#home.intro .body .bench-test-button.active,
#home.intro-reverse .body .bench-test-button.active {
  background-color: rgba(21, 126, 161, 0.9);
}
#home .body .bench-test-button:hover,
#home.intro .body .bench-test-button:hover,
#home.intro-reverse .body .bench-test-button:hover {
  background-color: rgba(21, 126, 161, 0.9);
}
#home .body pre[class*="language-"],
#home.intro .body pre[class*="language-"],
#home.intro-reverse .body pre[class*="language-"] {
  -webkit-box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
  -moz-box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
  box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
  border-left: 10px solid #157ea1;
}
#home .header,
#home.intro .header,
#home.intro-reverse .header,
#home footer,
#home.intro footer,
#home.intro-reverse footer {
  background-color: rgba(21, 126, 161, 0.9);
}
#home.tutorial .body,
#home.tutorial-reverse .body {
  color: #098181;
}
#home.tutorial .body .bench-test-button,
#home.tutorial-reverse .body .bench-test-button {
  background-color: inherit;
  border: 1px solid #098181;
}
#home.tutorial .body .bench-test-button.active,
#home.tutorial-reverse .body .bench-test-button.active {
  background-color: rgba(9, 129, 129, 0.9);
}
#home.tutorial .body .bench-test-button:hover,
#home.tutorial-reverse .body .bench-test-button:hover {
  background-color: rgba(9, 129, 129, 0.9);
}
#home.tutorial .body pre[class*="language-"],
#home.tutorial-reverse .body pre[class*="language-"] {
  -webkit-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
  -moz-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
  box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
  border-left: 10px solid #098181;
}
#home.tutorial .header,
#home.tutorial-reverse .header,
#home.tutorial footer,
#home.tutorial-reverse footer {
  background-color: rgba(9, 129, 129, 0.9);
}
#home.benchmarks .body,
#home.benchmarks-reverse .body {
  color: #870000;
}
#home.benchmarks .body .bench-test-button,
#home.benchmarks-reverse .body .bench-test-button {
  border: 1px solid #870000;
}
#home.benchmarks .body .bench-test-button.active,
#home.benchmarks-reverse .body .bench-test-button.active {
  background-color: rgba(135, 0, 0, 0.9);
}
#home.benchmarks .body .bench-test-button:hover,
#home.benchmarks-reverse .body .bench-test-button:hover {
  background-color: rgba(135, 0, 0, 0.9);
}
#home.benchmarks .body pre[class*="language-"],
#home.benchmarks-reverse .body pre[class*="language-"] {
  -webkit-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
  -moz-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
  box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
  border-left: 10px solid #870000;
}
#home.benchmarks .header,
#home.benchmarks-reverse .header,
#home.benchmarks footer,
#home.benchmarks-reverse footer {
  background-color: rgba(135, 0, 0, 0.9);
}
#home.plans .body,
#home.plans-reverse .body {
  color: #b67b4e;
}
#home.plans .body .bench-test-button,
#home.plans-reverse .body .bench-test-button {
  border: 1px solid #b67b4e;
}
#home.plans .body .bench-test-button.active,
#home.plans-reverse .body .bench-test-button.active {
  background-color: rgba(182, 123, 78, 0.9);
}
#home.plans .body .bench-test-button:hover,
#home.plans-reverse .body .bench-test-button:hover {
  background-color: rgba(182, 123, 78, 0.9);
}
#home.plans .body pre[class*="language-"],
#home.plans-reverse .body pre[class*="language-"] {
  -webkit-box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
  -moz-box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
  box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
  border-left: 10px solid #b67b4e;
}
#home.plans .header,
#home.plans-reverse .header,
#home.plans footer,
#home.plans-reverse footer {
  background-color: rgba(182, 123, 78, 0.9);
}
.donation {
  float: right;
  margin-top: 22px;
  margin-right: 100px;
}
