/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}
@-webkit-keyframes introToTut {
  from {
    background-color: rgba(21, 126, 161, 0.9);
  }
  to {
    background-color: rgba(9, 129, 129, 0.9);
  }
}
@keyframes introToTut {
  from {
    background-color: rgba(21, 126, 161, 0.9);
  }
  to {
    background-color: rgba(9, 129, 129, 0.9);
  }
}
#home.tutorial .header,
#home.tutorial footer {
  -webkit-animation-name: introToTut;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: introToTut;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@-webkit-keyframes tutorialToIntro {
  from {
    background-color: rgba(9, 129, 129, 0.9);
  }
  to {
    background-color: rgba(21, 126, 161, 0.9);
  }
}
@keyframes tutorialToIntro {
  from {
    background-color: rgba(9, 129, 129, 0.9);
  }
  to {
    background-color: rgba(21, 126, 161, 0.9);
  }
}
#home.intro-reverse .header,
#home.intro-reverse footer {
  -webkit-animation-name: tutorialToIntro;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: tutorialToIntro;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@-webkit-keyframes introToTutorialFore {
  from {
    color: #157ea1;
  }
  to {
    color: #098181;
  }
}
@keyframes introToTutorialFore {
  from {
    color: #157ea1;
  }
  to {
    color: #098181;
  }
}
@-webkit-keyframes introToTutorialCode {
  from {
    -webkit-box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #157ea1;
  }
  to {
    -webkit-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #098181;
  }
}
@keyframes introToTutorialCode {
  from {
    -webkit-box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #157ea1;
  }
  to {
    -webkit-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #098181;
  }
}
#home.tutorial .body {
  -webkit-animation-name: introToTutorialFore;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: introToTutorialFore;
  animation-duration: 1s;
  animation-timing-function: linear;
}
#home.tutorial .body pre[class*="language-"] {
  -webkit-animation-name: introToTutorialCode;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: introToTutorialFore;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@-webkit-keyframes tutorialToIntroFore {
  from {
    color: #098181;
  }
  to {
    color: #157ea1;
  }
}
@keyframes tutorialToIntroFore {
  from {
    color: #098181;
  }
  to {
    color: #157ea1;
  }
}
@-webkit-keyframes tutorialToIntroBorder {
  from {
    border-color: #098181;
  }
  to {
    border-color: #157ea1;
  }
}
@keyframes tutorialToIntroBorder {
  from {
    border-color: #098181;
  }
  to {
    border-color: #157ea1;
  }
}
@-webkit-keyframes tutorialToIntroCode {
  from {
    -webkit-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #098181;
  }
  to {
    -webkit-box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #157ea1;
  }
}
@keyframes tutorialToIntroCode {
  from {
    -webkit-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #098181;
  }
  to {
    -webkit-box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #157ea1;
  }
}
#home.intro-reverse .body {
  -webkit-animation-name: tutorialToIntroFore;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: tutorialToIntroFore;
  animation-duration: 1s;
  animation-timing-function: linear;
}
#home.intro-reverse .body pre[class*="language-"] {
  -webkit-animation-name: tutorialToIntroCode;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: tutorialToIntroCode;
  animation-duration: 1s;
  animation-timing-function: linear;
}
/* Tutorial to Benchmarks and wise versa */
@-webkit-keyframes tutorialToBench {
  from {
    background-color: rgba(9, 129, 129, 0.9);
  }
  to {
    background-color: rgba(135, 0, 0, 0.9);
  }
}
@keyframes tutorialToBench {
  from {
    background-color: rgba(9, 129, 129, 0.9);
  }
  to {
    background-color: rgba(135, 0, 0, 0.9);
  }
}
#home.benchmarks .header,
#home.benchmarks footer {
  -webkit-animation-name: tutorialToBench;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: tutorialToBench;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@-webkit-keyframes benchToTutorial {
  from {
    background-color: rgba(135, 0, 0, 0.9);
  }
  to {
    background-color: rgba(9, 129, 129, 0.9);
  }
}
@keyframes benchToTutorial {
  from {
    background-color: rgba(135, 0, 0, 0.9);
  }
  to {
    background-color: rgba(9, 129, 129, 0.9);
  }
}
#home.tutorial-reverse .header,
#home.tutorial-reverse footer {
  -webkit-animation-name: benchToTutorial;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: benchToTutorial;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@-webkit-keyframes tutorialToBenchFore {
  from {
    color: #098181;
  }
  to {
    color: #870000;
  }
}
@keyframes tutorialToBenchFore {
  from {
    color: #098181;
  }
  to {
    color: #870000;
  }
}
@-webkit-keyframes tutorialToBenchCode {
  from {
    -webkit-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #098181;
  }
  to {
    -webkit-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #870000;
  }
}
@keyframes tutorialToBenchCode {
  from {
    -webkit-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #098181;
  }
  to {
    -webkit-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #870000;
  }
}
#home.benchmarks .body {
  -webkit-animation-name: tutorialToBenchFore;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: tutorialToBenchFore;
  animation-duration: 1s;
  animation-timing-function: linear;
}
#home.benchmarks .body pre[class*="language-"] {
  -webkit-animation-name: tutorialToBenchCode;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: introToTutorialCode;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@-webkit-keyframes benchToTutorialFore {
  from {
    color: #870000;
  }
  to {
    color: #098181;
  }
}
@keyframes benchToTutorialFore {
  from {
    color: #870000;
  }
  to {
    color: #098181;
  }
}
@-webkit-keyframes benchToTutorialBorder {
  from {
    border-color: #870000;
  }
  to {
    border-color: #098181;
  }
}
@keyframes benchToTutorialBorder {
  from {
    border-color: #870000;
  }
  to {
    border-color: #098181;
  }
}
@-webkit-keyframes benchToTutorialCode {
  from {
    -webkit-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #870000;
  }
  to {
    -webkit-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #098181;
  }
}
@keyframes benchToTutorialCode {
  from {
    -webkit-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #870000;
  }
  to {
    -webkit-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #098181;
  }
}
#home.tutorial-reverse .body {
  -webkit-animation-name: benchToTutorialFore;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: benchToTutorialFore;
  animation-duration: 1s;
  animation-timing-function: linear;
}
#home.tutorial-reverse .body pre[class*="language-"] {
  -webkit-animation-name: benchToTutorialCode;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: benchToTutorialCode;
  animation-duration: 1s;
  animation-timing-function: linear;
}
/* Benchmarks to Plans and wise versa */
@-webkit-keyframes benchToPlan {
  from {
    background-color: rgba(135, 0, 0, 0.9);
  }
  to {
    background-color: rgba(182, 123, 78, 0.9);
  }
}
@keyframes benchToPlan {
  from {
    background-color: rgba(135, 0, 0, 0.9);
  }
  to {
    background-color: rgba(182, 123, 78, 0.9);
  }
}
#home.plans .header,
#home.plans footer {
  -webkit-animation-name: benchToPlan;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: benchToPlan;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@-webkit-keyframes planToBench {
  from {
    background-color: rgba(182, 123, 78, 0.9);
  }
  to {
    background-color: rgba(135, 0, 0, 0.9);
  }
}
@keyframes planToBench {
  from {
    background-color: rgba(182, 123, 78, 0.9);
  }
  to {
    background-color: rgba(135, 0, 0, 0.9);
  }
}
#home.benchmarks-reverse .header,
#home.benchmarks-reverse footer {
  -webkit-animation-name: planToBench;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: planToBench;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@-webkit-keyframes benchToPlanFore {
  from {
    color: #870000;
  }
  to {
    color: #b67b4e;
  }
}
@keyframes benchToPlanFore {
  from {
    color: #870000;
  }
  to {
    color: #b67b4e;
  }
}
@-webkit-keyframes benchToPlanCode {
  from {
    -webkit-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #870000;
  }
  to {
    -webkit-box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #b67b4e;
  }
}
@keyframes benchToPlanCode {
  from {
    -webkit-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #870000;
  }
  to {
    -webkit-box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #b67b4e;
  }
}
#home.plans .body {
  -webkit-animation-name: benchToPlanFore;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: benchToPlanFore;
  animation-duration: 1s;
  animation-timing-function: linear;
}
#home.plans .body pre[class*="language-"] {
  -webkit-animation-name: benchToPlanCode;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: benchToPlanCode;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@-webkit-keyframes planToBenchFore {
  from {
    color: #b67b4e;
  }
  to {
    color: #870000;
  }
}
@keyframes planToBenchFore {
  from {
    color: #b67b4e;
  }
  to {
    color: #870000;
  }
}
@-webkit-keyframes planToBenchBorder {
  from {
    border-color: #b67b4e;
  }
  to {
    border-color: #870000;
  }
}
@keyframes planToBenchBorder {
  from {
    border-color: #b67b4e;
  }
  to {
    border-color: #870000;
  }
}
@-webkit-keyframes planToBenchCode {
  from {
    -webkit-box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #b67b4e;
  }
  to {
    -webkit-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #870000;
  }
}
@keyframes planToBenchCode {
  from {
    -webkit-box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #b67b4e;
  }
  to {
    -webkit-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    -moz-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #870000;
  }
}
#home.benchmarks-reverse .body {
  -webkit-animation-name: planToBenchFore;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: planToBenchFore;
  animation-duration: 1s;
  animation-timing-function: linear;
}
#home.benchmarks-reverse .body pre[class*="language-"] {
  -webkit-animation-name: planToBenchCode;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-name: planToBenchCode;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@-webkit-keyframes hoverBenchButton {
  from {
    background-color: white;
    color: #870000;
  }
  to {
    background-color: rgba(135, 0, 0, 0.9);
    color: white;
  }
}
@keyframes hoverBenchButton {
  from {
    background-color: white;
    color: #870000;
  }
  to {
    background-color: rgba(135, 0, 0, 0.9);
    color: white;
  }
}
@-webkit-keyframes unhoverBenchButton {
  from {
    background-color: rgba(135, 0, 0, 0.9);
    color: white;
  }
  to {
    background-color: white;
    color: #870000;
  }
}
@keyframes unhoverBenchButton {
  from {
    background-color: rgba(135, 0, 0, 0.9);
    color: white;
  }
  to {
    background-color: white;
    color: #870000;
  }
}
@keyframes unhoverBenchButton {
  from {
    background-color: rgba(135, 0, 0, 0.9);
    color: white;
  }
  to {
    background-color: white;
    color: #870000;
  }
}
.bench-test-button {
  -webkit-animation-name: unhoverBenchButton;
  -webkit-animation-duration: .2s;
  -webkit-animation-timing-function: linear;
  animation-name: unhoverBenchButton;
  animation-duration: .2s;
  animation-timing-function: linear;
}
.bench-test-button:hover {
  -webkit-animation-name: hoverBenchButton;
  -webkit-animation-duration: .2s;
  -webkit-animation-timing-function: linear;
  animation-name: hoverBenchButton;
  animation-duration: .2s;
  animation-timing-function: linear;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
html span.italic {
  font-style: italic;
}
html span.bold {
  font-weight: bold;
}
.plaginButton {
  background: transparent !important;
  text-shadow: 0 -1px #157ea1 !important;
}
#home img.logo {
  display: none;
}
#home a,
#home a:active,
#home a:visited {
  color: inherit;
  text-decoration: none;
}
#home .header {
  z-index: 999;
  position: fixed;
  width: 100%;
  background-color: rgba(21, 126, 161, 0.9);
  color: white;
}
#home .header .header-content {
  width: 960px;
  margin: auto;
}
#home .header .header-content .active-menu {
  left: -100px;
  display: block;
  position: absolute;
  width: 33px;
  height: 1px;
  background-color: white;
  top: 50px;
}
#home .header .title {
  font-size: 300%;
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
#home .header .border {
  margin-top: 1px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
#home .header .top-border {
  margin-bottom: 1px;
  margin-top: 5px;
}
#home .header .bottom-border {
  clear: both;
}
#home .header .menus {
  margin-bottom: -4px;
  display: inline-block;
}
#home .header .menu-item {
  margin-bottom: -4px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  height: 66px;
  overflow: hidden;
  position: relative;
}
#home .header .menu-item .menu-block {
  position: relative;
  width: 100%;
}
#home .header .menu-item .menu-block div {
  margin-top: 26px;
  margin-bottom: 26px;
}
#home .header .menu-item .title-block {
  top: 8px;
}
#home .body {
  width: 960px;
  margin: auto;
  color: #157ea1;
  padding-top: 83px;
}
#home .body pre {
  overflow: auto;
}
#home .body code {
  overflow: visible;
}
#home .body h1 {
  font-family: 'Roboto Slab', serif;
  display: table-caption;
  text-align: center;
  font-size: 250%;
  padding: 1em 0;
}
#home .body article {
  display: table;
  margin: auto;
  font-weight: 300;
}
#home .body article .disagree {
  font-style: italic;
}
#home .body article .disagree a {
  font-weight: 400;
}
#home .body article .disagree a:hover {
  text-decoration: underline;
}
#home .body article ul {
  list-style-type: disc;
  margin-left: 20px;
}
#home .body article.chart-article .ex-cell.flow-visible {
  width: 450px;
}
#home .body article.chart-article h2 {
  font-weight: 400;
  padding: 1em 0;
}
#home .body article.chart-article h3 {
  font-weight: 400;
  padding-top: 1em;
}
#home .body article.chart-article .diagram {
  position: relative;
  text-align: center;
  margin: 20px 0;
}
#home .body article.chart-article .graph-desc {
  font-size: 80%;
}
#home .body article.chart-article .graph-desc ul {
  margin-bottom: 5px;
}
#home .body article.chart-article .chart-text {
  position: relative;
  display: none;
}
#home .body article.chart-article .chart-text.active {
  display: block;
}
#home .body article.chart-article .chart-item-box {
  position: relative;
  width: 450px;
}
#home .body pre[class*='language-'] > code[data-language]::before {
  border-radius: 0 5px 0 5px;
}
#home .body pre[class*="language-"]:before,
#home .body pre[class*="language-"]:after {
  box-shadow: none;
}
#home .body pre {
  font-size: 80%;
  border-radius: 5px;
}
#home .body .ex-row {
  display: table-row;
}
#home .body .ex-row .ex-cell:first-child section {
  padding-right: 2em;
}
#home .body .ex-row .ex-cell + .ex-cell section {
  padding-left: 2em;
}
#home .body .ex-row .flow-visible {
  overflow: visible;
  vertical-align: top;
  position: relative;
}
#home .body .spacing-row {
  display: table-row;
  height: 100px;
}
#home .body .ex-cell {
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
#home .body .bench-test-box {
  margin-bottom: 30px;
  word-spacing: .3em;
}
#home .body section {
  position: relative;
  font-size: 110%;
  line-height: 1.4em;
}
#home .body .bench-test-box {
  position: relative;
}
#home .body .bench-test-box .button-box {
  display: inline-block;
  position: relative;
  left: 50px;
  opacity: 0;
}
#home .body .bench-test-box .button-box .bench-test-button {
  display: table-cell;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 100%;
  cursor: pointer;
}
#home .body .bench-test-button:hover {
  color: white;
}
#home .body .bench-test-button.active {
  color: white;
}
#home footer {
  display: block;
  height: 200px;
  width: 100%;
  background-color: rgba(21, 126, 161, 0.9);
  color: white;
}
#home footer .table {
  display: table;
  width: 960px;
  margin: auto;
  height: inherit;
}
#home footer .table .profile-row {
  display: table-row;
}
#home footer .table .profile-row .profile-cell {
  width: 200px;
}
#home footer .table .profile-row .profile-cell img.author-image {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 90px;
  border: 1px solid rgba(255, 255, 255, 0.51);
  box-shadow: 0 0 2px white;
}
#home footer .table .profile-row .description-cell {
  width: 400px;
  line-height: 1.3em;
}
#home footer .table .profile-row .description-cell div:nth-child(1) {
  font-weight: 400;
}
#home footer .table .profile-row .description-cell div:nth-child(2) {
  margin-top: 20px;
  font-style: italic;
}
#home footer .table .profile-row .description-cell div:nth-child(3) {
  margin-top: 10px;
  font-style: italic;
  text-align: right;
}
#home footer .table .profile-row .cell {
  display: table-cell;
  vertical-align: middle;
}
#home footer .table .profile-row .cell:nth-child(3) {
  padding-left: 60px;
}
#home footer .table .profile-row .cell .like-title {
  font-weight: 400;
}
#home footer .table .profile-row .cell .fb-block {
  margin-top: 10px;
}
#home footer .table .profile-row .cell .gplus-block {
  margin-top: 10px;
}
#home footer .table .profile-row .cell .gplus-block #___plus_0 {
  position: relative;
  top: -4px;
}
#home footer .table .profile-row .cell .contacts {
  font-weight: 400;
  margin-top: 10px;
}
#home footer .table .profile-row .cell .mail {
  margin-top: 10px;
  font-size: 90%;
  font-style: italic;
}
#home footer .table .profile-row .cell .mail a:hover {
  text-decoration: underline;
}
#home footer .table .profile-row .copyright {
  font-size: 80%;
  vertical-align: bottom;
  text-align: center;
  padding-bottom: 5px;
}
#home .body,
#home.intro .body,
#home.intro-reverse .body {
  color: #157ea1;
}
#home .body .bold,
#home.intro .body .bold,
#home.intro-reverse .body .bold {
  font-weight: 400;
}
#home .body .text-link,
#home.intro .body .text-link,
#home.intro-reverse .body .text-link {
  text-decoration: underline;
}
#home .body .bench-test-button,
#home.intro .body .bench-test-button,
#home.intro-reverse .body .bench-test-button {
  border: 1px solid #157ea1;
}
#home .body .bench-test-button.active,
#home.intro .body .bench-test-button.active,
#home.intro-reverse .body .bench-test-button.active {
  background-color: rgba(21, 126, 161, 0.9);
}
#home .body .bench-test-button:hover,
#home.intro .body .bench-test-button:hover,
#home.intro-reverse .body .bench-test-button:hover {
  background-color: rgba(21, 126, 161, 0.9);
}
#home .body pre[class*="language-"],
#home.intro .body pre[class*="language-"],
#home.intro-reverse .body pre[class*="language-"] {
  -webkit-box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
  -moz-box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
  box-shadow: -1px 0px 0px 0px #157ea1, 0px 0px 0px 1px #dfdfdf;
  border-left: 10px solid #157ea1;
}
#home .header,
#home.intro .header,
#home.intro-reverse .header,
#home footer,
#home.intro footer,
#home.intro-reverse footer {
  background-color: rgba(21, 126, 161, 0.9);
}
#home.tutorial .body,
#home.tutorial-reverse .body {
  color: #098181;
}
#home.tutorial .body .bench-test-button,
#home.tutorial-reverse .body .bench-test-button {
  background-color: inherit;
  border: 1px solid #098181;
}
#home.tutorial .body .bench-test-button.active,
#home.tutorial-reverse .body .bench-test-button.active {
  background-color: rgba(9, 129, 129, 0.9);
}
#home.tutorial .body .bench-test-button:hover,
#home.tutorial-reverse .body .bench-test-button:hover {
  background-color: rgba(9, 129, 129, 0.9);
}
#home.tutorial .body pre[class*="language-"],
#home.tutorial-reverse .body pre[class*="language-"] {
  -webkit-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
  -moz-box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
  box-shadow: -1px 0px 0px 0px #098181, 0px 0px 0px 1px #dfdfdf;
  border-left: 10px solid #098181;
}
#home.tutorial .header,
#home.tutorial-reverse .header,
#home.tutorial footer,
#home.tutorial-reverse footer {
  background-color: rgba(9, 129, 129, 0.9);
}
#home.benchmarks .body,
#home.benchmarks-reverse .body {
  color: #870000;
}
#home.benchmarks .body .bench-test-button,
#home.benchmarks-reverse .body .bench-test-button {
  border: 1px solid #870000;
}
#home.benchmarks .body .bench-test-button.active,
#home.benchmarks-reverse .body .bench-test-button.active {
  background-color: rgba(135, 0, 0, 0.9);
}
#home.benchmarks .body .bench-test-button:hover,
#home.benchmarks-reverse .body .bench-test-button:hover {
  background-color: rgba(135, 0, 0, 0.9);
}
#home.benchmarks .body pre[class*="language-"],
#home.benchmarks-reverse .body pre[class*="language-"] {
  -webkit-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
  -moz-box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
  box-shadow: -1px 0px 0px 0px #870000, 0px 0px 0px 1px #dfdfdf;
  border-left: 10px solid #870000;
}
#home.benchmarks .header,
#home.benchmarks-reverse .header,
#home.benchmarks footer,
#home.benchmarks-reverse footer {
  background-color: rgba(135, 0, 0, 0.9);
}
#home.plans .body,
#home.plans-reverse .body {
  color: #b67b4e;
}
#home.plans .body .bench-test-button,
#home.plans-reverse .body .bench-test-button {
  border: 1px solid #b67b4e;
}
#home.plans .body .bench-test-button.active,
#home.plans-reverse .body .bench-test-button.active {
  background-color: rgba(182, 123, 78, 0.9);
}
#home.plans .body .bench-test-button:hover,
#home.plans-reverse .body .bench-test-button:hover {
  background-color: rgba(182, 123, 78, 0.9);
}
#home.plans .body pre[class*="language-"],
#home.plans-reverse .body pre[class*="language-"] {
  -webkit-box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
  -moz-box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
  box-shadow: -1px 0px 0px 0px #b67b4e, 0px 0px 0px 1px #dfdfdf;
  border-left: 10px solid #b67b4e;
}
#home.plans .header,
#home.plans-reverse .header,
#home.plans footer,
#home.plans-reverse footer {
  background-color: rgba(182, 123, 78, 0.9);
}
.donation {
  float: right;
  margin-top: 22px;
  margin-right: 100px;
}

/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	position: relative;
	margin: .5em 0;
	-webkit-box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
	-moz-box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
	box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
	border-left: 10px solid #358ccb;
	background-color: #fdfdfd;
	background-image: -webkit-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-image: -moz-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-image: -ms-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-image: -o-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-size: 3em 3em;
	background-origin: content-box;
	overflow: visible;
	max-height: 30em;
}

code[class*="language"] {
	max-height: inherit;
	height: 100%;
	padding: 0 1em;
	display: block;
	overflow: auto;
}

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: #fdfdfd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	position: relative;
	padding: .2em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	border-radius: 0.3em;
	color: #c92c2c;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
	content: '';
	z-index: -2;
	display: block;
	position: absolute;
	bottom: 0.75em;
	left: 0.18em;
	width: 40%;
	height: 20%;
	-webkit-box-shadow: 0px 13px 8px #979797;
	-moz-box-shadow: 0px 13px 8px #979797;
	box-shadow: 0px 13px 8px #979797;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
	right: 0.75em;
	left: auto;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7D8B99;
}

.token.punctuation {
	color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
	color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
	color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
	color: #a67f59;
	background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
	color: #1990b8;
}

.token.regex,
.token.important {
	color: #e90;
}

.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: rgba(255, 255, 255, 0.5);
}

.token.important {
	font-weight: normal;
}

.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.namespace {
	opacity: .7;
}

@media screen and (max-width: 767px) {
	pre[class*="language-"]:before,
	pre[class*="language-"]:after {
		bottom: 14px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
	color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers {
	padding-left: 0;
}

pre[class*="language-"].line-numbers code {
	padding-left: 3.8em;
}

pre[class*="language-"].line-numbers .line-numbers-rows {
	left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
pre[data-line] code {
	position: relative;
	padding-left: 4em;
}
pre .line-highlight {
	margin-top: 0;
}
pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}
pre[class*='language-'] {
	position: relative;
}
pre[class*='language-'] > code[data-language] {
	overflow: scroll;
	max-height: 28em;
	display: block;
}
pre[class*='language-'] > code[data-language]::before {
	content: attr(data-language);
	color: black;
	background-color: #CFCFCF;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.9em;
	border-radius: 0 0 0 5px;
	padding: 0 0.5em;
	text-shadow: none;
}